[2021-03-08 18:35] with-mahimasingh opened #2 "Adding Splash Screen"
I am a GSSOC '21 participant.
I wish to contribute by adding a splash screen to the given application.
Please assign me this task.

[2021-03-09 15:20] jagatjeeban commented on #2
Hey @Rittik-Biswal2000 !!
I want to work on this under GSSOC ' 21 .
So , Can you please assign me the issue ?

[2021-03-09 16:33] anushka530 opened #3 "splash sereen"
hi, I am gssoc'21 participant. I want to add splasscreen to it

[2021-03-10 10:31] with-mahimasingh commented on #2
@AltamasBari  Can you please assign me this issue? I want to start working on it.

[2021-03-10 10:55] AltamasBari commented on #3
Hi, There is already an issue #2 for splash screen. Kindly comment on that. I am closing this issue.

[2021-03-10 11:15] AltamasBari commented on #2
Sure @with-mahimasingh @jagatjeeban. I am assigning multiple participants. Kindly **share the screenshot/video** of your splash screen design during PR.

[2021-03-10 11:49] anushka530 commented on #2
Hello, I am gssoc'21 participant can you please assign this issue to me

[2021-03-10 12:59] with-mahimasingh commented on #2
Sir I have made the pull request in the repository on https://github.com/Developer-Student-Clubs-VSSUT-Burla/College-Comrade
as this was the link mentioned on the GirlsScript site. Do I need to make the PR here?

[2021-03-10 14:39] Rittik-Biswal2000 commented on #2
Hi, thank you for your contribution. We will be updating you with a new repository link

[2021-03-10 15:22] with-mahimasingh opened #6 "Improve README.md"
I want to improve the documentation by adding-
1) Appropriate screenshots of the application
2) Section of features and maintainers.

Can you please assign me this task?

[2021-03-10 15:28] Rittik-Biswal2000 commented on #2
Now you can contribute in the above link  https://github.com/Developer-Student-Clubs-VSSUT-Burla/College-Comrade

[2021-03-10 16:05] with-mahimasingh commented on #2
@Rittik-Biswal2000  Thank you so much for your help. I have made the necessary changes. Can you please check?

[2021-03-10 16:08] with-mahimasingh commented on #6
@AltamasBari Okay thanks for assigning it. Shall I make one README.md on Contribution Guidlines too and add a Section with its link to the this main README.md?

[2021-03-10 17:34] Ketaki-Gangadhar opened #7 "Registration and login of User using email and password"

[2021-03-10 17:36] Ketaki-Gangadhar commented on #7
I am a participant in GSSOC'21. I want to contribute in this project. Please assign this issue to me.

[2021-03-10 17:36] AltamasBari commented on #6
We are working on documentation for contribution guidelines. That part will be taken care of by mentors

[2021-03-10 19:12] etamys commented on #7
assign me this task i will implement firebase login and register in this.

[2021-03-11 01:40] etamys opened #8 "add firebase"
we need to add firebase for storing data like user notes ,syllabus, holiday

[2021-03-11 01:45] etamys opened #9 "Add MVM Architecture"
i can add the mvvm in this so it will look more better bin functionality and user data will not lost when device rotate.

[2021-03-11 06:41] y-ahuja commented on #8
Hey, I am GSSOC'21 participant and I want work on this feature.
Can you assign this issue to me..

[2021-03-11 06:48] etamys commented on #8
i created this issue so please let me work on this.
@y-ahuja  create your own issue please..

[2021-03-11 06:51] etamys opened #10 "Improve UI of Registration"
can i work on changing ui of registration page

[2021-03-11 07:28] y-ahuja commented on #8
Okay

[2021-03-11 11:22] AltamasBari commented on #10
Sure @etamys. Make sure to add **screenshot or video** while making PR.

[2021-03-11 11:41] TanuSharma19 commented on #6
Sir, I want to improve the documentation .
By mentioning about the module used in the above project.
@AltamasBari  can u assign me this task?

[2021-03-11 11:57] TanuSharma19 opened #11 "Add Modules: Readme.md"
Sir, I want to improve the documentation .
By mentioning about the module used in the above project.
@AltamasBari can u assign me this task?

[2021-03-11 12:11] etamys commented on #10
ok

[2021-03-11 14:21] TanuSharma19 commented on #7
Assign me this task  ,sir .As i want to work on this issue . @Rittik-Biswal2000

[2021-03-11 14:43] anushka530 commented on #10
![rough](https://user-images.githubusercontent.com/72335206/110804109-b6b29800-8234-11eb-839b-7d9ff34c1940.jpeg)
![back](https://user-images.githubusercontent.com/72335206/110804172-c3cf8700-8234-11eb-9f27-de35fb28d1bc.jpeg)

Can you assign me this issue.
This is the rough sketch and background color what I want  to implement .please check it and let me know  if any changes required . I do do acco

[2021-03-11 15:52] jagatjeeban commented on #10
Can I work on adding material design to the buttons present on the registration page ?

[2021-03-11 16:15] etamys commented on #10
![IMG_20210311_214245](https://user-images.githubusercontent.com/57357736/110817916-c8d31b80-82b2-11eb-863e-146368640dcc.jpg)

can i use this ,i will make changes on this as per the final design and please assign it to me..

[2021-03-11 16:15] etamys commented on #10
and guys please create other issues.

[2021-03-11 18:44] etamys commented on #10
Actually i created this issue👨‍💻 ,so i can work on it but as i can see you worked  it on  so hard . it's my first issue😒 which i have created, Now I'm leaving it you can take the lead , ask them to maintainers to assign it to you.
and try to create new issues 👨‍💻

[2021-03-12 06:43] sitamadex11 opened #12 "Add a todo list feature on this app"
Hi I am a GSSoC'21 participant, I want to add a to-do list feature on this app using Room database
may I proceed?
@Rittik-Biswal2000 sir, please assign me this task

[2021-03-12 13:24] anushka530 opened #13 "Sign in with google and facebook using firebase"
To make app user friendly and to improve authentication. I can add this feature to the app

[2021-03-12 13:36] rohank2502 opened #14 "Tech Stack Update ( LOGO add )"
I will like to add tech stack logo used in our project this will make our project attractive !! Will start to work on this issue as soon as i get assigned !!

[2021-03-12 13:36] rohank2502 opened #15 "Adding Contributor section in readme ( Automatically )"
I will like to add a feature this will update contributor list in read me automatically !! Will start to work on this issue as soon as i get assigend !!

[2021-03-12 17:26] saipawar108 commented on #12
Hi, I am Sayali and I want to work on this todo list feature using javaFx Assign this to me

[2021-03-12 17:32] Rittik-Biswal2000 commented on #13
Please give a demonstration of the feature that you will be adding (e.g. a video showing it's implemenation)

[2021-03-12 17:36] Rittik-Biswal2000 commented on #9
Yes @etamys.
Please add a video or screenshot in the PR of your implementation

[2021-03-12 17:38] Rittik-Biswal2000 commented on #7
@etamys @Ketaki-Gangadhar @TanuSharma19
Please include a video or screenshots of your implementation in the PR for us to evaluate

[2021-03-12 17:41] sitamadex11 commented on #12
@saipawar108 i have created this issue so please let me do.... Kindly, You create your own issue

[2021-03-12 17:42] sitamadex11 commented on #12
@Rittik-Biswal2000 sir may I start my work?

[2021-03-12 17:45] Rittik-Biswal2000 opened #16 "Registration Page"
The registration page should have the following components

1.Name
2.DOB
3.Email ID/password
4.Phone Number
5.Registration Number
6.Branch , Year , etc
7. College Name (Preferably from a dropdown list)

[2021-03-12 17:46] saipawar108 commented on #12
@Rittik-Biswal2000 its okay you take it :)

[2021-03-12 17:47] Rittik-Biswal2000 opened #17 "SignIn Page"
The signin page should contain the following input fields -
1.Email Id
2.Password

And an option to forget password

After successful signin a profile page should open up displaying name , email , branch , year , reg no and the college name

[2021-03-12 17:50] Rittik-Biswal2000 commented on #16
In the database store these details in the following tree structure

**college_name**
       **Year**
            **Branch**
                  Student details

[2021-03-12 17:53] Rittik-Biswal2000 commented on #12
Ok , you both can work together on this or you can showcase your individual work . In any case please submit  video demonstrating your feature so that we can assign the task after evaluation

[2021-03-12 17:56] saipawar108 commented on #12
@Rittik-Biswal2000  Sir , can just tell us what are your requirements for this todo list so that we can proceed accordingly

[2021-03-12 17:57] sitamadex11 commented on #12
Yes sir then it will be better for us

[2021-03-12 18:04] anushka530 commented on #13
https://user-images.githubusercontent.com/72335206/110979899-16cf3a00-831a-11eb-9335-2250251ae9f0.mp4

this is demo video how people will directly sign in through google.
If you think this feature should be added then please assign this issue to me

[2021-03-12 18:25] Ketaki-Gangadhar commented on #17
I would like to work on this issue

[2021-03-12 18:35] AltamasBari opened #18 "UI/UX Registration Page"
Improvement in UI/UX of the registration page.

Will assign on first come first serve basis if one is unable to complete for some reason then latter will be assign.

[2021-03-12 18:40] shreyadubey0902 commented on #16
I would like to work on it
Can you please assign the work to me?

[2021-03-12 18:44] shreyadubey0902 commented on #17
I would like to work on it
Can you please assign the work to me?

[2021-03-13 02:24] rasikabakre commented on #18
I am really interested to work on this issue, please assign it to me. @AltamasBari is this issue open for GSSoC' 21 participants because it isn't labeled.

[2021-03-13 02:28] rasikabakre commented on #17
I am really interested to work on the signin/login page issue. Would you kindly assign it to me?

[2021-03-13 02:29] rasikabakre commented on #16
I really would like to work on the this issue. Would you kindly assign it to me?

[2021-03-13 03:42] etamys commented on #18
ok so I will start working on it

[2021-03-13 06:33] sitamadex11 commented on #12
https://user-images.githubusercontent.com/76570320/111021447-523d3780-83f2-11eb-8c5f-8d3da4359c95.mp4

# I have created the basic structure
### I shall:-
* update UI more (will add a check box to finish task)
* make the recycler view swipeable to Delete
* add a task history page
* search property
* remainder using notification

**Sir is it ok??**
**Please suggest to me what more I can do if it is

[2021-03-13 07:11] Ketaki-Gangadhar commented on #17
I will start working on it from today only , Can you tell me what will be the deadline for the task to do ?

[2021-03-13 07:20] TanuSharma19 opened #20 "Label name"
Sir ,i have an issue in app all the the  screen have one label as college comrade .I will  chnge it to the activities happening like if we open the timetable the activity label should have  timetable writen on the top with back option and likewise all the pages have their own label name.
I will do this task if you will assign me this.
@AltamasBari .

[2021-03-13 08:03] TanuSharma19 commented on #20
ohk, sir thnku for assigning it to me.

[2021-03-13 10:57] khareyash05 opened #22 "add contributing.md"
Hey! I would like to add the following in contributing.md
Add the following -

1.Difference between GIT and GITHUB
2.How to clone,fork repository
3.How to create a branch and then use git push to push to repo
4.Create a PR
5.Squash commits in a single issue into one
6, Updating the forked and local repo as the updations are made in the upstream
I would like to work on this as a part of GSSOC'21

[2021-03-13 17:02] TanuSharma19 commented on #20
sir,  have made a pull request for  this task .

[2021-03-13 19:18] tanishq-123 commented on #13
Hey! I would like to work on this feature.

[2021-03-14 12:32] kanikaaggar16 opened #24 "recreating the UI of menu page"

[2021-03-14 13:21] sitamadex11 commented on #12
@AltamasBari thankyou sir

[2021-03-14 15:44] AltamasBari commented on #24
@kanikaaggar16 Please provide a summary/sketch.

[2021-03-14 15:49] #15 closed

[2021-03-14 15:57] Rittik-Biswal2000 commented on #13
Please add logout feature and have a look at registration page issue

[2021-03-14 15:58] Rittik-Biswal2000 commented on #12
yeah , it's great go ahead

[2021-03-14 16:00] Rittik-Biswal2000 commented on #8
@etamys please make a demo app demonstrating this feature. Also the documents should be fetched if the device isn't connected to internet

[2021-03-14 16:01] Rittik-Biswal2000 commented on #2
Ok we will be checking it

[2021-03-14 16:04] TanuSharma19 commented on #20
Sir ,i have added i have also shown in the demo video

[2021-03-14 16:05] tanishq-123 commented on #13
Registration page issue is already assigned to somebody, shall I open an issue for adding logout feature?

[2021-03-14 16:08] tanishq-123 opened #25 "Logout feature."

[2021-03-14 16:10] tanishq-123 commented on #16
I would like to help in implementing this, not done yet.

[2021-03-14 16:12] TanuSharma19 commented on #25
Sir ,i want to work on this issue if you will assign me this task. I will add the logout option so that ww can return to the registration login page

[2021-03-14 16:15] tanishq-123 commented on #25
I am a participant as well and have opened this issue. Waiting to be approved by admin.

[2021-03-14 16:16] AltamasBari commented on #25
@tanishq-123 Is assigned as per the first come first serve basis. If he /she is unable to do, then others will be considered.

[2021-03-14 16:20] TanuSharma19 commented on #25
Ohk

[2021-03-14 16:39] sitamadex11 commented on #12
Okk thank you sir @Rittik-Biswal2000

[2021-03-15 03:17] TanuSharma19 opened #28 "Ui/ux change of subject notes list page."
I will make the the chnge in the interface so that it will look more appealing.

[2021-03-15 03:52] TanuSharma19 commented on #24
Sir ,if u don't mind i have an  example to show you ,i will change  it to this . All the option in the main menu will apear like this .
![Screenshot_2021-03-15-09-20-16-443_com example android miwok](https://user-images.githubusercontent.com/78946064/111101383-c51fed00-856f-11eb-80f3-0d9f63cad7b7.png). You can give it a chnce if anyone not assigned to this task

[2021-03-15 06:49] anushka530 opened #30 "uI/ux improvement of contact us page"

[2021-03-15 06:51] anushka530 commented on #30
please assign this issue to me

[2021-03-15 06:54] anushka530 opened #31 "adding notes of digital electronics"
According to the syllabus I can add notes of digital electronics . please assign this issue to me

[2021-03-15 08:07] tanishq-123 commented on #25
Hey Altamas, sent PR for the logout feature, kindly have a look.

[2021-03-15 08:10] tanishq-123 opened #33 "Navigation Bar"
Would like to add a navigation bar in the profile activity so that all buttons visible on this activity can be put in that navigation bar.

[2021-03-15 11:04] vaibhav-c commented on #33
I am a GSSOC 2021 participant. Please assign this to me.

[2021-03-15 11:17] Aryamanz29 opened #34 "[Need] Issue and PR template"
Currently, we haven't any issue and PR template for this repo

[2021-03-15 11:17] Aryamanz29 commented on #34
Please add a label to this issue

[2021-03-15 11:17] Aryamanz29 commented on #34
I would like to work on this issue, Kindly assign to me

[2021-03-15 11:26] RiyaKumar00 opened #35 "UI/UX of Faculty List Page"
I would like to work on improving the user interface of the faculty list page to make it more attractive and convenient to read.

[2021-03-15 12:43] vaibhav-c opened #36 "Changing Default Buttons and Edit Texts. Adding cards to faculty list."

[2021-03-15 12:43] vaibhav-c commented on #36
I would like to work on this issue. I am GSSOC 21 participant.

[2021-03-15 12:46] RiyaKumar00 commented on #36
Hey @vaibhav-c ! I have already raised an issue regarding the UI/UX of the faculty list page. I am a GSSOC'21 participant as well and was looking forward to working on the issue.

[2021-03-15 12:47] vaibhav-c commented on #36
Ok, then I will leave the faculty page. I will change things elsewhere.

[2021-03-15 13:00] vaibhav-c commented on #16
There must be an option to upload a profile photo in the registration page which gets stored in Cloud Storage of Firebase. I would like to work on the same.

[2021-03-15 13:25] RashikaJoshi-777 opened #37 "typo in README.md file"

[2021-03-15 13:27] RashikaJoshi-777 commented on #37
i want to work for this

[2021-03-15 18:36] PranavPrakasan07 opened #41 "Starting page with long scrollview"
The long scrollview can be replaced by smaller layouts navigating with buttons (next button, grouping similar input fields), so that the user experience is better.

[2021-03-15 18:38] PranavPrakasan07 commented on #41
Kindly assign me this issue @Rittik-Biswal2000 sir.

[2021-03-16 07:31] Gautam204 commented on #7
I am a participant in GSSOC'21. I want to contribute in this project using java. @Rittik-Biswal2000 kindly assign this issue to me.

[2021-03-16 07:34] Gautam204 commented on #16
In case the the issue is still open for others I would like to contribute in this project.  I am a participant in GSSOC'21. Please assign this issue to me.

[2021-03-16 07:36] Gautam204 commented on #17
In case the issue is still open I would like do contribute to this project . I am a participant in GSSOC'21.  kindly assign this issue to me.

[2021-03-16 12:08] nidhisingh-1 commented on #41
Hi! would like to work on this issue

[2021-03-16 12:10] nidhisingh-1 commented on #35
I would also like to contribute to the UI part too! Kindly assign me to this..have previously worked on UI improvements

[2021-03-16 12:11] nidhisingh-1 commented on #24
I would like to contribute

[2021-03-17 07:31] kanikaaggar16 commented on #24
I have already improved the UI/UX of this page.

[2021-03-17 07:56] nidhisingh-1 commented on #24
so like this issue is closed?

[2021-03-17 08:03] kanikaaggar16 opened #43 "UI/UX for lecture notes"

[2021-03-17 10:34] khareyash05 commented on #22
@Rittik-Biswal2000 Have a look!

[2021-03-18 08:39] etamys commented on #16
![Uploading Screenshot_2021-03-18-14-08-52-114_com.example.tt.jpg…]()

if it's open please check this.

[2021-03-18 09:52] etamys commented on #16
![Uploading Screenshot_2021-03-18-14-08-52-114_com.example.tt.jpg…]()
check this

[2021-03-18 09:55] etamys commented on #16
![Uploading Screenshot_2021-03-18-14-08-52-114_com.example.tt.jpg…]()
check this

[2021-03-18 13:42] etamys commented on #16
![Screenshot_2021-03-18-14-08-52-114_com example tt](https://user-images.githubusercontent.com/57357736/111635724-ce35e600-881d-11eb-915a-d80cca613f24.jpg)
check this

[2021-03-18 14:11] #36 closed

[2021-03-18 14:13] Rittik-Biswal2000 commented on #33
Please create a new branch and send a pr along with a video of implementation

[2021-03-18 14:14] Rittik-Biswal2000 commented on #31
Please hold on. We'll be adding the notes dynamically. More on this will be discussed soon.

[2021-03-18 14:14] #31 closed

[2021-03-18 14:15] Rittik-Biswal2000 commented on #30
Please create a new branch and send pr along with video of your implementation

[2021-03-18 21:28] PranavPrakasan07 opened #46 "Improvement in the UI of the starting page and contact us page"
The starting page has default buttons and out-of-place colors. The UI shall be made better by introducing a few elements, changing the background color, button style.

[2021-03-18 21:30] PranavPrakasan07 commented on #46
@Rittik-Biswal2000 sir, kindly assign me this issue.

[2021-03-19 10:30] aditya-190 opened #47 "Error on Login Page and SignUp Page"
On Hitting Sign In or Sign Up Button Without entering any details make the app to crash.
I could resolve this issue.

@GSSOC'21 Participant

[2021-03-19 10:36] aditya-190 opened #48 "Animated Navigation Bar @MainActivity"
I could add an Animated modern curved Navigation Bar. Because of which all the Buttons can be merged into a simple Nav Bar.

Check this For Demo : https://play.google.com/store/apps/details?id=com.bhardwaj.memento

@GSSOC'21 Participant

[2021-03-19 13:54] Sawmya1 commented on #35
I want to work on this issue. Please assign me this

[2021-03-19 13:56] Sawmya1 commented on #30
I want to work on this issue. Please assign me this.

[2021-03-19 13:57] Sawmya1 commented on #25
I want to work on this issue. Please assign me this.

[2021-03-19 13:58] Sawmya1 commented on #37
I want to work on this issue. Please assign me this. I'm a GSSoC contributor.

[2021-03-19 14:02] Sawmya1 commented on #14
I would like to work on this issue. Please assign me this.

[2021-03-19 14:07] tanishq-123 commented on #25
https://user-images.githubusercontent.com/55457071/111792657-7618e580-88ea-11eb-926a-bee7e5fb613f.mp4

[2021-03-19 14:09] Sawmya1 commented on #7
Sir, I'm a GSSoC contributor please assign me this. I would like to work on it.

[2021-03-19 14:11] Sawmya1 commented on #2
I'm a GSSoC contributor. I would like to work on this issue. Please assign me this.

[2021-03-19 14:12] Sawmya1 commented on #17
Sir, please assign me this I would like to work on this issue,

[2021-03-20 05:49] anushka530 commented on #30
ok

[2021-03-20 07:39] ojaswisharma16 commented on #14
I want to contribute in it as a gssoc participant . plz assign it to me if possible.

[2021-03-20 07:56] rohank2502 commented on #14
@Sawmya1 @ojaswisharma16  I have already linked a PR have a look

[2021-03-20 16:51] nidhisingh-1 commented on #35
great! will et back to you in a bit

[2021-03-22 09:27] nidhisingh-1 opened #53 "Android Resource linking failed"
AAPT: error: resource attr/flow_horizontalSeparator (aka com.example.tt:attr/flow_horizontalSeparator) not found.

![image](https://user-images.githubusercontent.com/61702147/111967890-9630ea80-8b1e-11eb-8703-dadb3a3997ed.png)

[2021-03-22 19:12] madhuvanthi27 opened #54 "Add a splash screen"
Hey,

I would love to add a **splash screen** to this app. I can also incorporate themes if there are any specific theme for this app. As far as I have seen, there aren't any specific themes for this app for now except for a light pink color.
I would really love to work on this issue as part of the GSSOC'21.

Thanks.

[2021-03-25 15:07] SriSarveshA1 commented on #41
/assign

[2021-03-27 02:38] Nitish1702 commented on #37
Hi, I want to work on this. Please assign me this issue.

[2021-03-27 18:50] anushka530 commented on #30
https://github.com/Developer-Student-Clubs-VSSUT-Burla/College-Comrade/pull/55

https://user-images.githubusercontent.com/72335206/112731096-ade7e480-8f0b-11eb-8d94-a6084b538ffb.mp4

please review it.

[2021-03-27 18:54] anushka530 opened #56 "create a feedback page with rating bar"

[2021-03-27 18:57] anushka530 commented on #56
assign me this issue

[2021-03-28 06:37] sitamadex11 opened #57 "Adding a navigation drawer in MainActivity to add ToDo menu"
I am working on the Todo functionality of the app. I want to add a navigation drawer to the MainActivity to add the todo menu. By clicking it we can move to TodoList.

[2021-03-28 09:00] garima652001 commented on #17
Hi,  as the issue is open from the last few days, I would like to work on it, if no one is assigned to it. Can this issue be assigned to me?

[2021-03-28 17:41] khareyash05 commented on #22
@Rittik-Biswal2000 Have a look!

[2021-03-28 18:43] Rittik-Biswal2000 commented on #53
Update dependencies in the build.gradle file

[2021-03-28 19:00] #37 closed

[2021-03-28 19:01] AltamasBari commented on #37
Please provide a description while creating an issue.

[2021-03-28 19:15] AltamasBari commented on #16
@etamys Send the PR asap.

[2021-03-29 01:54] etamys commented on #16
my code is ready i will upload it today after some changes, project-4admin I have a request, please be online. because bhaut logo ne issue create kiye h..I have also created some but you didn't answer. to mene aage work nhi kiya...

[2021-03-29 03:07] etamys commented on #16
hi
I tried to PR but it's shows me permission denied to etamys

[2021-03-29 04:09] RashikaJoshi-777 commented on #37
there are typo in README file which i want to fix , so please assign this issue to me [GSSOC 21]

[2021-03-29 08:32] anushka530 opened #59 "make responsive layouts for all types of phone"
please assign me this issue

[2021-03-29 09:02] etamys commented on #47
hi
I can Solve this issue by use some exception on it or some validation on field.

[2021-03-29 15:39] sitamadex11 commented on #12
https://user-images.githubusercontent.com/76570320/112861958-ea197180-90d2-11eb-9a5a-c9be0c2f1ede.mp4

Till now I have done this

[2021-03-29 16:40] Rittik-Biswal2000 commented on #59
Kindly give some description or a video of your implementation

[2021-03-29 17:02] Rittik-Biswal2000 commented on #56
@anushka530 kindly elaborate your idea with proper details

[2021-03-29 17:08] Rittik-Biswal2000 commented on #17
@shreyadubey0902 assigning you this issue. Kindly complete this asap. If she's unable then others will be assigned

[2021-03-29 17:10] Rittik-Biswal2000 commented on #12
@sitamadex11 send the pr. It's awesome

[2021-03-29 17:13] sitamadex11 commented on #12
Ok, sir sure.

[2021-03-29 17:15] etamys opened #63 "Phone regex"
please assign me this part

[2021-03-29 17:50] etamys commented on #63
it's completed , Whenever you told me I will make a PR

[2021-03-29 18:12] AmanBisht01 commented on #25
@AltamasBari @tanishq-123
Can I work on this issue as Tanishq-123 is unable to resolve merge conflicts in 14 days.?

[2021-03-29 18:19] etamys commented on #16
Hi
I did
regex,
password hidden
scrollable

forgot btn is not good in Registration UI for this  ,I can this Desgin login UI  . I will make new PR for Login UI here forgot btn will look good

[2021-03-29 18:19] #63 closed

[2021-03-30 03:58] etamys opened #65 "Login UI + Authentication (etamys)"
assign this to me it's ready you can check
![WhatsApp Image 2021-03-30 at 9 25 08 AM](https://user-images.githubusercontent.com/57357736/112931730-4d8aba00-913a-11eb-95cb-8045c9cf2d4d.jpeg)

[2021-03-30 05:47] etamys commented on #59
You can Check my Design @Rittik-Biswal2000  and @anushka530  it's already Responsive for all the mobile...

[2021-03-30 06:06] etamys opened #69 "UI of home page it's not look good"
![c0e21c9eaf949d61f0ce769b3334a4f3](https://user-images.githubusercontent.com/57357736/112941286-f261c300-914b-11eb-814e-f3d954fa3595.png)

this is design. we can it's open for everyone...anyone if want this issue take it

[2021-03-30 08:48] Aryamanz29 commented on #34
@Rittik-Biswal2000  Kindly review my PR

[2021-03-30 08:58] etamys commented on #69
![IMG_20210330_142744](https://user-images.githubusercontent.com/57357736/112962632-35c82b80-9164-11eb-86e3-35ffb991ad88.jpg)

[2021-03-30 10:29] anushka530 commented on #56
any student can write their feedback ..how this app was helpfull to them which will encourage others to use the app.
![rating](https://user-images.githubusercontent.com/72335206/112974918-03e1a580-9121-11eb-9403-85f95853b186.jpeg)

ui will be somewhat like this and I will be working on frontend part.
@Rittik-Biswal2000 this my idea

[2021-03-30 10:35] #34 closed

[2021-03-30 12:01] rahulsain commented on #47
can i work on this issue?

[2021-03-30 13:32] etamys commented on #47
it's already solved...

[2021-03-30 17:25] etamys commented on #17
i did it.. you can check my latest PR

[2021-03-31 01:47] #22 closed

[2021-03-31 02:33] #47 closed

[2021-03-31 02:33] aditya-190 commented on #47
Successful

[2021-03-31 03:43] etamys opened #71 "Bottom Navigation"
### **Feature request**:
We can add Bottom navigation in app

### **Is your feature request related to a problem? Please describe. (optional)**:
A clear and concise description of what the problem is.

### **Describe the solution you'd like**:
Bottom Nviagtion like Youtube ,Instagram so user can Switch to Different Fragment easily

### **Describe alternatives you've considered**:
A clear and conci

[2021-03-31 14:44] Khushi-24 commented on #25
@Rittik-Biswal2000 Can I work on this issue if no one else is working?

[2021-03-31 14:49] Khushi-24 commented on #18
@AltamasBari Can I work on this issue?

[2021-03-31 14:52] Khushi-24 commented on #14
@Rittik-Biswal2000 Sir, can I work on this issue?

[2021-03-31 14:54] etamys commented on #18
kr lo tum hee kr lo 😂 , itne din se mene inhe PR request kr rkhi h and to and issues bhi kisi ka koi reply hee nhi aa rha...mentors Inactive h. koi reply nhi h.
I already completed this task , also it's Authorization and login part also but no one response . ye log air kee trh gaayab ho gye h.😂😂😓

[2021-04-01 03:31] rohank2502 commented on #14
I Have done work

[2021-04-01 10:27] tanishq-123 commented on #33
Since someone has already implemented the card view so i don't think there is any need of navigation view now.

[2021-04-01 10:31] tanishq-123 commented on #71
I will be very much happy to work on this issue.

[2021-04-01 13:40] etamys commented on #71
ya Sure , but agr Ye active @AltamasBari  @Rittik-Biswal2000  hee nhi honge to ,
we can't proceed .

[2021-04-01 14:19] #25 closed

[2021-04-01 14:29] Rittik-Biswal2000 commented on #65
Please send a pr along with implementation video.

[2021-04-01 14:30] Rittik-Biswal2000 commented on #71
Atlease wait for 48-72 hrs before commenting

[2021-04-01 14:31] Rittik-Biswal2000 commented on #71
Understand that we are allowing ample time so that project can be completed in a proper manner and contributors can properly check their implementation for any bugs that might have occured

[2021-04-01 14:32] Rittik-Biswal2000 commented on #71
@tanishq-123 @etamys are you both willing to work on this issue ?

[2021-04-01 14:33] Rittik-Biswal2000 commented on #69
@etamys please go ahead . Please make sure the subject names are dynamic and if possible try to make the icons neutral , i.e. not related to any particular subjects

[2021-04-01 14:34] #59 closed

[2021-04-01 14:35] Rittik-Biswal2000 commented on #57
@sitamadex11 send a pr along with video of your implementation

[2021-04-01 14:36] Rittik-Biswal2000 commented on #56
Backend part ?

[2021-04-01 14:41] tanishq-123 commented on #71
Yes I'm

[2021-04-01 14:50] sitamadex11 commented on #57
ok, sir. Thank you very much, sir.

[2021-04-01 15:08] etamys commented on #71
yes

[2021-04-01 15:12] etamys commented on #71
ya but, In other project , his mentors are so active.
Actually , due to exams I was not able to contribute in Starting , but now I'm free . i want to contribute more and more as i can.
For this  our mentors should need to be active.
48-72 i'ts so long time.
I don't think that , rather than level 3 issue any issue would take that much of time

[2021-04-01 15:15] etamys commented on #69
ok.. I'm was only waiting for your permission.
 Thank YOu

[2021-04-01 15:17] etamys commented on #65
Actually i did it in my latest PR . which you merged currently.🥰

[2021-04-01 15:44] etamys commented on #69
for upper part is this OK
![112941286-f261c300-914b-11eb-814e-f3d954fa3595](https://user-images.githubusercontent.com/57357736/113318928-94410580-932e-11eb-9cee-c973fdcd94f9.png)

and for lower part..
![112962632-35c82b80-9164-11eb-86e3-35ffb991ad88](https://user-images.githubusercontent.com/57357736/113319133-c3577700-932e-11eb-9f36-1b14edf90c30.jpg)

 i will use this design for home layout . whe

[2021-04-01 17:03] sitamadex11 commented on #69
may I work on this issue?

[2021-04-01 17:24] etamys commented on #69
I already Started @sitamadex11

[2021-04-01 17:30] sitamadex11 commented on #69
ok no problem @etamys

[2021-04-01 17:31] etamys commented on #69
☺

[2021-04-01 17:57] tanishq-123 commented on #71
@AltamasBari I think i won't be able to do it, you can assign it to @etamys

[2021-04-01 18:01] etamys commented on #71
hey @tanishq-123  don't be back . it's my first time also . you can take this issue.  if you need full information about this how we implement it i will tell you according to my prospective which i Though.

[2021-04-01 18:17] etamys commented on #69
<img src="https://user-images.githubusercontent.com/57357736/113336373-f0faeb00-9343-11eb-95e0-a7ea6986bfa8.png" >

current dessign

[2021-04-01 18:21] etamys commented on #69
can i finish it here and let them Someone to create issue  or keep going
1.fetching data from database and show user name and pic
2. current date and time

[2021-04-01 18:24] tanishq-123 commented on #71
okay, let's do it together. don't know how points will be distributed though.

[2021-04-01 18:27] etamys commented on #71
wait i will tell you ,your score.

On Thu, 1 Apr 2021, 11:54 pm tanishq-123, ***@***.***> wrote:

[2021-04-01 18:32] etamys commented on #71
![Screenshot_2021-04-01-23-59-50-329_com android chrome](https://user-images.githubusercontent.com/57357736/113338377-a6c73900-9346-11eb-9085-ab859a46bc8a.jpg)

it's 15

[2021-04-01 18:35] tanishq-123 commented on #71
No what I'm saying is if we will work together on the same issue then will we both get full points or it will be divided?

[2021-04-01 18:37] anushka530 commented on #56
there is no feedback button. Please tell me where to add. then I will be able to do backend part also.

[2021-04-01 18:42] etamys commented on #71
no, it's not divided 😅.

On Fri, 2 Apr 2021, 12:05 am tanishq-123, ***@***.***> wrote:

[2021-04-01 18:42] etamys commented on #71
jo PR send krega usi ko milenge

On Fri, 2 Apr 2021, 12:12 am Uenqic, ***@***.***> wrote:

[2021-04-01 18:47] tanishq-123 commented on #71
okay

[2021-04-01 18:53] etamys commented on #71
you can start. working on it. you have to just make 5 bottom nav items and we also need to create 5 fragment and copy a the activities code into fragment.
it's like changing whole Codebase.
big stuff😅😊
i will handle , we can divide task and create two PR s for it. because it big work..👨‍💻🔥😊

[2021-04-01 19:52] tanishq-123 commented on #71
Let's meet on discord tomorrow. My username is Tanishq(P)

On Fri, 2 Apr, 2021, 00:23 Yogesh singh, ***@***.***> wrote:

[2021-04-02 09:46] Khushi-24 commented on #14
@rohank2502  Thanks for telling.👍

[2021-04-02 10:48] aditya-190 commented on #14
@rohank2502 If it's done Please close this issue.

[2021-04-02 13:19] sitamadex11 opened #74 "PDF Reader Functionality"
### **Feature request**:
User can read pdf file from his local storage

### **Describe how this feature will be useful to our readers**:
In this app all pdfs are static. Therefore It will help users to read the pdfs which they want.

## sir, I want to work on this issue.
@Rittik-Biswal2000 @AltamasBari

[2021-04-02 13:26] sitamadex11 opened #75 "Notification for ToDo List"
### **Feature request**:
Add the notification feature in the ToDo list

I have created the main structure of the to-do list.
now please add the notification feature.
though I want to work on it. If anyone wants to do then go for it ☺.

[2021-04-03 12:18] kanikaaggar16 commented on #69
Hey I already worked on the main activity and lecture notes activity and it got merged also

[2021-04-03 12:39] etamys commented on #69
ya but your design not looks good, i didn't not say you waste you effort, you did very well work, but it's need improvement in UI . we meed strong UI for attract our audience. not just simple one.

[2021-04-03 13:30] #12 closed

[2021-04-03 14:20] kanikaaggar16 commented on #69
yeah but this is for university students it should not be having many picture or icons. It should have have formal icons to represent. Second the issue assigning was done on first cum first basis.

[2021-04-03 18:09] ANUJAGRAWAL2000 commented on #75
@sitamadex11 I want to contribute to this project. Can u please explain this issue in more detail?

[2021-04-03 18:12] sitamadex11 commented on #75
@ANUJAGRAWAL2000 yeah sure go for it

[2021-04-03 18:53] etamys commented on #69
yep ,but I'm not taking your issue, i just modified it. by modifying it
your point would not be deducted.

On Sat, 3 Apr 2021, 7:50 pm kanikaaggar16, ***@***.***> wrote:

[2021-04-04 08:30] kanikaaggar16 commented on #69
so it seems like you are really interested in this project. Why dont we work together if you like ?.

[2021-04-04 15:20] etamys commented on #69
ok Sure...

[2021-04-04 15:25] etamys commented on #69
My Design is  Ready ,Now I'm Waiting for Bottom Navigation then I will add my Design to the Bottom Navigation

[2021-04-04 17:31] etamys commented on #69
yep it's done look at this
![Screenshot (324)](https://user-images.githubusercontent.com/57357736/113516750-a5417f00-9599-11eb-98b3-c717e73ed71d.png)

[2021-04-04 17:32] etamys commented on #71
![Screenshot (324)](https://user-images.githubusercontent.com/57357736/113516774-cb671f00-9599-11eb-828d-b3c62b5afa55.png)

Bottom Navigation and UI part is Ready

[2021-04-04 17:33] etamys commented on #71
But i need icons of faculty,notes,holidays,timetable etc

[2021-04-04 17:56] etamys commented on #56
it's look good.

[2021-04-04 17:57] #8 closed

[2021-04-05 05:08] kanikaaggar16 commented on #69
What options are you giving in bottom navigation bar?

[2021-04-05 05:10] etamys commented on #69
all, but i have not icons to show them

On Mon, 5 Apr 2021, 10:38 am kanikaaggar16, ***@***.***>
wrote:

[2021-04-05 05:11] etamys commented on #69
notes, Holiday, syllabus, timetable, faculty

On Mon, 5 Apr 2021, 10:40 am Uenqic, ***@***.***> wrote:

[2021-04-05 07:17] tanishq-123 commented on #71
You can take them from drawables.

[2021-04-05 07:18] etamys commented on #71
it's  jpg form

On Mon, 5 Apr 2021, 12:47 pm tanishq-123, ***@***.***> wrote:

[2021-04-05 07:20] tanishq-123 commented on #71
Check discord

On Mon, 5 Apr 2021 at 12:48, Yogesh singh ***@***.***> wrote:

[2021-04-05 14:26] Rittik-Biswal2000 commented on #75
@sitamadex11 @ANUJAGRAWAL2000 are you both willing to work ?

[2021-04-05 14:33] sitamadex11 commented on #75
I want to work on it if @ANUJAGRAWAL2000 not will

[2021-04-06 05:14] ANUJAGRAWAL2000 commented on #75
@Rittik-Biswal2000 I have started working on this issue.

[2021-04-06 09:23] sitamadex11 commented on #75
@Rittik-Biswal2000 sir, then assign it to @ANUJAGRAWAL2000

[2021-04-06 11:56] i-tick commented on #75
@sitamadex11 send the pr for the todo list.

[2021-04-06 14:17] sitamadex11 commented on #75
@i-tick I have already shared the PR of the to-do list and it is already merged. Please assign this issue to @ANUJAGRAWAL2000 as he has already started working on it.

[2021-04-07 21:53] #20 closed

[2021-04-08 17:12] AakankshaKamal opened #76 "UI update of Syllabus section"
The UI of the syllabus section does not look good. Need a better way to show the syllabus

[2021-04-08 17:39] AakankshaKamal opened #77 "Errors in activity_contact and activity_main xml files"
### **Describe the bug:**
Unresolved conflicts in the above said xml files

### **To Reproduce:**
Steps to reproduce the behavior:
1. Go to app/res/layout
2. Click on activity_contact and activity_main
3. See an error

### **Expected behavior:**
the id assigned should be clear to different sections

### **Screenshots:**
If applicable, add screenshots to help explain your prob
![Screenshot 2021-04-

[2021-04-09 07:55] arjun20varma commented on #46
I'll work on this

[2021-04-09 12:48] etamys commented on #77
actually , this is due to recently merged PR. now we're waiting for the mentors to fix the codebase

[2021-04-11 03:10] sitamadex11 opened #78 "Total Application version is down graded"
Mentors, please have a look at this issue. I am unable to create new PR s.

[2021-04-12 11:06] Khushi-24 opened #79 "Required changes in activity_main.xml"
### **Describe the bug:**
activity_main.xml consists of lots of duplicate id's
Even the layout orientation is also not correct (LinearLayout tag is not ended)

### **To Reproduce:**
Steps to reproduce the behavior:
1. Rename the id's as per the requirement
2. Change the layout

### **Expected behavior:**
neat assignment of id's
proper orientation

### **Screenshots:**
<img src= "https://user-image

[2021-04-12 11:08] Khushi-24 commented on #79
Can I make the required changes?

[2021-04-13 02:38] sitamadex11 opened #80 "Improve UI of activity_profile.xml with TodoList functionality"
I want to improve the UI of activity_profile.xml and add the TodoList feature.

[2021-04-13 02:47] sitamadex11 opened #81 "README.md Update for proper guideline of making PR"

[2021-04-13 02:50] sitamadex11 commented on #81
many people are contributing before updating their forked repo with upstream therefore problems are occurring. Therefore I want to give a proper guideline.

[2021-04-13 16:10] sitamadex11 commented on #81
thank you @AltamasBari vaiya

[2021-04-13 17:30] Rittik-Biswal2000 commented on #76
Ok @AakankshaKamal share your ideas .....

[2021-04-13 17:30] Rittik-Biswal2000 commented on #74
@sitamadex11 any updates ?

[2021-04-13 17:32] Rittik-Biswal2000 commented on #79
Yeah @Khushi-24 go ahead

[2021-04-13 17:32] Rittik-Biswal2000 commented on #80
@sitamadex11 go ahead , send a pr

[2021-04-13 17:50] sitamadex11 commented on #80
Okkk thankyou @Rittik-Biswal2000 sir

[2021-04-14 04:10] sitamadex11 commented on #80
## After the last PR of issue #68 merging by @i-tick sir, due to some misunderstanding the UI of the profile page was downgraded to this :
![demo-problem](https://user-images.githubusercontent.com/76570320/114652758-24565600-9d04-11eb-8006-1cb8a38a1274.png)

### now I want to fix :
- [ ] the Ui of the page
- [ ] Add the todo functionality
- [ ] logout functionality

#### @Rittik-Biswal2000, @Altam

[2021-04-14 06:26] rohank2502 commented on #14
Please check the Pr so this issue will be automaticallyclosed

[2021-04-14 08:17] AakankshaKamal commented on #76
I was thinking that just after opening the syllabus part,we can add buttons/links bulletins  with the heading of different subjects of syllabus and on clicking them the user will be able to see the syllabus of that particular subject.And I would like to modify the UI background of it.

[2021-04-15 15:51] sitamadex11 commented on #74
sir, the basic structure of the app is ready.

[2021-04-15 16:11] sitamadex11 commented on #74
https://user-images.githubusercontent.com/76570320/114902257-439fd100-9e33-11eb-85bf-57f038d7055f.mp4

[2021-04-17 13:54] apoorva0107 commented on #71
Hi, I am willing to work on this under GSSOC'21 with a partner. Please assign

[2021-04-17 14:08] etamys commented on #71
@apoorva0107 I already did it but, mentors of this project are not active..so I'm not able to send PR @Rittik-Biswal2000

[2021-04-18 02:22] sitamadex11 commented on #74
https://user-images.githubusercontent.com/76570320/115132128-f3836300-a01a-11eb-9593-0e7c4fb5340f.mp4

sir, there is the basic functionality

[2021-04-18 02:27] sitamadex11 opened #84 "UI enhancement"
![UI by feejan](https://user-images.githubusercontent.com/76570320/115132171-79071300-a01b-11eb-94ca-5e7b422ee931.jpeg)

Sir, I want to work on this issue and if anyone wants to work on this issue can go for it.

[2021-04-21 15:22] #69 closed

[2021-04-21 15:22] #65 closed

[2021-04-22 02:26] sitamadex11 commented on #75
@i-tick @Rittik-Biswal2000 @ANUJAGRAWAL2000 sir please assign this issue to @ANUJAGRAWAL2000 as he is working on it.

[2021-04-24 16:44] #71 closed

[2021-04-25 12:03] #80 closed

[2021-04-25 12:20] #81 closed

[2021-04-25 12:25] Rittik-Biswal2000 commented on #74
@sitamadex11 Also add a functionality to upload a pdf from the app , store it in local storage and then displaying it in the app

[2021-04-25 12:27] #16 closed

[2021-04-25 12:27] Rittik-Biswal2000 opened #87 "Registration Page"
The registration page should have the following components

1.Name
2.DOB
3.Email ID/password
4.Phone Number
5.Registration Number
6.Branch , Year , etc
7. College Name (Preferably from a dropdown list)

[2021-04-25 12:28] Rittik-Biswal2000 commented on #84
Try to implement the navbar on existing ui @sitamadex11

[2021-04-25 12:36] sitamadex11 commented on #87
I want to work on this issue

[2021-04-25 12:40] sitamadex11 commented on #84
May I start work on this issue?

[2021-04-25 12:41] sitamadex11 commented on #84
For navbar should  I create a new issue?

[2021-04-25 12:42] Rittik-Biswal2000 commented on #84
As stated earlier...work on nav bar part only

On Sun, 25 Apr 2021, 18:10 Sitam Sardar, ***@***.***> wrote:

[2021-04-25 12:51] #78 closed

[2021-04-25 12:55] sitamadex11 commented on #74
for uploading a pdf I need to use firebase storage. Then please add me to the app's firebase as a collaborator

[2021-04-25 12:56] sitamadex11 commented on #84
In navbar section which items should I add?

[2021-04-25 13:23] sitamadex11 commented on #87
may I share a demo UI of this page? @Rittik-Biswal2000 sir

[2021-04-25 13:26] AltamasBari commented on #79
Good work @Khushi-24!

[2021-04-25 13:26] #79 closed

[2021-04-25 13:46] sitamadex11 commented on #74
Actually, here I have fetched all saved pdf from local storage and displayed them in the app. Now I am working on  the search functionality to find a particular PDF of my storage by using searchable

[2021-04-26 04:22] Rittik-Biswal2000 commented on #87
Yes @sitamadex11

[2021-04-26 04:22] Rittik-Biswal2000 commented on #87
Make sure to include these fields and try to fetch the college name list from a database

[2021-04-26 04:23] Rittik-Biswal2000 commented on #84
Above items (in the image seem fine)

[2021-04-26 04:44] sitamadex11 commented on #87
Okkk sir but to add all details in firebase I need to add as app's firebase collaborator. Please add me

[2021-04-27 00:38] sitamadex11 commented on #84
actually in my design which items are on the home screen all items are also in the navigation drawer as I was confused. so please suggest me which items should be kept in the home screen and which items should be kept in the nav drawer

[2021-05-04 14:01] KajalSinghBAGHEL opened #90 "Update README.md"
remove grammatical mistakes

[2021-05-04 14:01] KajalSinghBAGHEL commented on #90
can I work on  this issue

[2021-05-07 17:24] gargijs commented on #13
I want to work on this.

[2021-05-23 18:53] amonikag commented on #2
Is this issue open still ? If yes, I want to work on it, I'm a GSSoC participant. Please assign it to me

[2021-05-24 13:06] subhangi2731 commented on #87
@Rittik-Biswal2000 please assign this issue to me

[2021-05-24 15:45] KajalSinghBAGHEL commented on #90
I am a GSSOC participant. Please check my pull request

[2021-05-25 11:27] AltamasBari commented on #90
#89 Accepted

[2021-05-25 11:27] #90 closed

[2021-05-26 10:19] Kumud-869231165 commented on #87
Can you assign this issue to me! I have already designed UI part of desgen @Rittik-Biswal2000

[2021-05-28 17:09] #74 closed

[2022-03-01 04:55] Pranjali-49 commented on #87
Hello @Rittik-Biswal2000, I want to work on this issue under GSSOC'22. Can you please assign me this issue?

[2022-03-05 05:50] Pranjali-49 commented on #7
Hello @Rittik-Biswal2000, I want to work on this issue under GSSOC'22. Can you please assign me this issue?

[2022-03-05 05:57] Pranjali-49 commented on #46
@Rittik-Biswal2000 I want to work on this issue under GSSOC'22. Please assign me this issue.